*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}
/*
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.btnWlc{
    position: fixed;
    top: 50%;
    width: 10rem;
    height: 5.5rem;
    font-size: xx-large;
    background-color: transparent;
    border: .3rem solid whitesmoke;
    border-radius: 1.5rem;
    text-decoration: none; 
    color: white;
    cursor: pointer;
}
.btnTxt{
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    height: 5.5rem;
    width: 10rem;
    z-index: 10;
    opacity: 0;
}
.btnWlc:hover{
    background-color: whitesmoke;
    color: black;
}