/* Global rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gudea', sans-serif;
}
html{
    font-size: 16px;
}
body{
    /*background-color: #362447;*/
    background: linear-gradient(
        90deg, rgba(54,36,71,.9)0, 
        rgba(54,36,71,1) 50%,
         rgba(54,36,71,.9) 100%);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 2.6rem;
}
h4{
    font-size: 1.2rem;
}
p{
    font-size: 1.8rem;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Grid layout */
body{
    width: 100%;
    min-height: 1080px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(112.36px, 1fr));
    grid-template-rows: repeat(max-content, minmax(320px, 1fr));
    row-gap: 1rem;
}
/* Buttons */
.btn{
    background-color: transparent;
    color: #ff8172;
    border: 1.8px solid #ff8172;
    border-radius: 6rem;
    cursor: pointer;
}
.btnNav{
    width: 8rem;
    height: 2rem;
    background-color: transparent;
    color: #ff8172;
    text-decoration: underline #ff8172;
    font-size: 1.4rem;
    border: none;
    opacity: .4;
    cursor: pointer;
}
.navC{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ff8172;
    list-style: none;
    cursor: pointer;
}

/* Navigation to other page sections */
#nav{
    grid-column: 6/8;
    grid-row: 7;
    position: relative;
    margin-top:  2rem;
    bottom: 1rem;
}   
.navLinks{
    width: 100%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}
.navC:hover{
    box-shadow: 0 0 .5rem .5rem #fffc40;
}
.navLoc{
    position: relative;
    font-size: 1.8rem;
    top: -4rem;
    color: #FF2FA9;
    /*display: none;
    box-shadow: 0 0 .5rem .5rem rgba(255, 252, 64, 0.4);
    border: .4rem solid transparent;
    width: fit-content;
    border-radius: 0.4rem;*/
}
.show{
    display: block;
}
/* Navigation buttons */
.next{
    position: fixed;
    top: 50%;
    left: 1%;
}
.prev{
    position: fixed;
    top: 50%;
    right: 1%;
}
.next:hover,
.prev:hover{
    opacity: 1;
    font-size: 1.5rem;
}

/* Logo set up */
.logo{
    grid-column: 4/10;
    grid-row: 2/3;
    overflow: initial;
    padding: 4rem 0 1rem 0;
}
.logoText{
    font-family: 'Trade Winds', cursive;
    font-size: 6.5rem;
    text-align: center;
    z-index: 10;
    color: #fffc40;
}
.logoBlock{
    width: 41.5rem;
    height: 2.5rem;
    border-radius: .8rem;
    background-color: #3a579a;
    box-shadow: inset 10px 20px 41px 0px #FF2FA9;
}

/* Header and special deal */
.header{
    grid-column: 4/10;
    grid-row: 4/5;
    position: relative;
    color: #d5d9c0;
}
.dealBlock{
    padding-top: 3rem;
    grid-column: 3/11;
    grid-row: 5/6;
    flex-direction: column;
}
.shoe{
    position: relative;
    left: 5rem;
    top: -2rem;
    animation: move 4s infinite ease-in-out;
}
.shadow{
    position: relative;
    left: 8rem;
    top: 8.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #fffc40;
    border-radius: 50%;
    box-shadow: 0 0 6rem 4rem  #fffc40;
    animation: move 4s infinite ease-in-out;
}
.buy{
    position: relative;
    width: 10rem;
    height: 4rem;
    right: 10rem;
    bottom: 14rem;
    font-size: 1.6rem;
    font-weight: 550;
}
.buy:hover{
    background-color: #ff8172;
    color: #362447;
    box-shadow: 0 0 .8rem .1rem #fffc40;
}
.saleTxt{
    position: relative;
    color: #fffc40;
    text-align: center;
    font-size: 1.2rem;
    bottom: 2.6rem;
}

/* Footer lol */
.footer{
    grid-column: 4/10;
    grid-row: 8;
    color: #d5d9c0;
    opacity: .5;
    font-size: 1rem;
    padding-bottom: 0 2rem 0 2rem;
}

/* Animations */
@keyframes move{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-25px);
        }

    100%{
        transform: translateY(0);
    }
}

/* Responsive breakpoints */

@media (max-width: 1080px){
    html{
        font-size: 10px;
    }
    body{
        height: 1360px;
        min-height: 680px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(224.72px, 1fr));
        
    }
    .logo{
        grid-column: 2/6;
        grid-row: 2/3;
        padding: 4rem 0 .5rem 0;
    }
    .header{
        grid-column: 2/6;
        grid-row: 4/5;
        font-size: 4rem;
        padding: 2rem 0 .5rem 0;
    }
    .dealBlock{
        grid-column: 2/6;
        grid-row: 6/7;
        margin-top: -8rem;
    }
    .shoe{
        left: 8rem;
    }
    .shadow{
        left: 14rem;
        top: 16rem;
        width: 12rem;
        height: 12rem;
        box-shadow: 0 0 8rem 4rem  #fffc40;
    }
    .saleTxt{
        font-size: 2rem;
    }
    .buy{
        width: 16rem;
        height: 6rem;
        bottom: 22rem;
        right: 19rem;
        font-size: 2.5rem;
    }
    #nav{
        grid-column: 2/6;
        grid-row: 8;
    }
    .navLinks{
        width: 35%;
        padding-top: 2rem;
    }
    .footer{
        grid-column: 2/5;
        grid-row: 9;
        padding-bottom: 1.5rem;
    }
}
@media (max-width: 770px){
    html{
        font-size: 6px;
    }
    body{
        min-height: 360px;
        min-width: 320px;
        width: 100%;
        height: 1080px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
    .logo{
        grid-column: 2/4;
        grid-row: 2/3;
        padding: 2rem 0 1rem 0;
    }
    .logoText{
        font-size: 9.5rem;
    }
    .header{
        grid-column: 2/4;
        grid-row: 4/5;
        font-size: 4rem;
        padding: 0 0 1rem 0;
    }
    .dealBlock{
        grid-column: 2/4;
        grid-row: 6/7;
        padding: 8rem 0 4rem 0;
    }
    .shoe{
        position: relative;
        width: 42rem;
        right: 1rem;
    }
    .shadow{
        left: 15rem;
        top: 18rem;
        width: 15rem;
        height: 15rem;
        box-shadow: 0 0 10rem 6rem  #fffc40;
    }
    .saleTxt{
        font-size: 1.9rem;
        padding-top: 2rem;
    }
    .buy{
        width: 22rem;
        height: 9rem;
        bottom: 34rem;
        right: 14rem;
        font-size: 3.6rem;
    }
    #nav{
        grid-column: 2/4;
        grid-row: 8;
        padding: 2rem 0 4rem 0;
    }
    .footer{
        grid-column: 2/4;
        grid-row: 10;
        padding-bottom: 2rem;
    }
}